h1{
	width: 50%;  
  	padding: 0px;
  	text-decoration: underline #ff9933;
  	margin-left: auto;
  	margin-right: auto;
  	font-size: 4em;
  	font-weight: bold; 
  	text-align: center;
  	font-family: Brush Script MT;
}

td, th {
	padding: 10px;
  	border: 1px solid;
  	text-align: center;
}

.hover-facts:hover td{
  background-color: #ffff00;
}
  
.pic-background{
  background-color: #000000;
}

.planet-names{
  color: #008080;
  background-color: #ffffff  ;
  font-size: 2em;
  font-weight: bold;
}