h1{
	width: 50%;  
  	padding: 0px;
  	text-decoration: underline #ff9933;
  	margin-left: auto;
  	margin-right: auto;
  	font-size: 4em;
  	font-weight: bold; 
  	text-align: center;
  	font-family: Brush Script MT;
}

td, th {
	padding: 10px;
  	border: 1px solid;
  	text-align: center;
}

img {
  width: 10em;
  padding: 0.3em;
  border: 0em;
  margin: 0em;
} 

.facts-hover:hover td{
  background-color: #ff3300;
}
  
.pic-background{
  background-color: #000000;
}

.names{
  color: #008080;
  background-color: #ffffff  ;
  font-size: 2em;
  font-weight: bold;
}

.facts{
  background-color: #0000ff ;
  text-align: left;
}

.orange{
  background-color: #0000ff ;
}

.yellow{
  background-color: #0000ff ;
}